In [ ]:
# Import numpy & pandas libraries

In [6]:
import pandas as pd
import numpy as np

In [7]:
# read Salaries.csv file

In [ ]:
sal =pd.read_csv('Salaries.csv',low_memory=False)

In [9]:
# Find minimum value of BasePay column

In [10]:
sal.BasePay.min()

-166.01

In [11]:
# Find maximum value of BasePay column

In [12]:
sal.BasePay.max()

319275.01

In [ ]:
# Find all the details of employee where sal is 319275.01

In [13]:
sal[sal.BasePay==319275.01]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN

In [ ]:
# Find mean BasePay

In [14]:
sal.BasePay.mean()

66325.44884050643

In [ ]:
# Find the name of employee which has maximum TotalPayBenefits

In [21]:
a=sal.TotalPayBenefits.max()
sal[sal.TotalPayBenefits==a][['EmployeeName']]

     EmployeeName
0  NATHANIEL FORD

In [ ]:
# Find all details of employee which has minimum TotalPayBenefits

In [22]:
a=sal.TotalPayBenefits.min()
sal[sal.TotalPayBenefits==a]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148044,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [ ]:
# Find the index of row which contains min TotalPaybenefits

In [24]:
sal['TotalPayBenefits'].idxmin()#

148044

In [ ]:
# For each year find the mean BasePay

In [26]:
sal.groupby('Year').BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
# Find unique JobTitles

In [18]:
sal['JobTitle'].nunique()

2154

In [ ]:
# Find the maximum 5 JobTitle with the number of employees

In [3]:
a=sal.groupby('JobTitle').count()
b=a.sort_values('Id').tail(5)
b=

SyntaxError: invalid syntax (<ipython-input-3-206e9b04a94e>, line 3)

In [30]:
# Find the no. of Job Title who contains only 1 employee in Year 2013

202

In [ ]:
# Find the no. of Job Title which contains 'chief' in its Job Title

476

In [ ]:
# Find the correlation between TotalPayBenefits & "length of Job Title" as "title_len"

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036669
title_len                -0.036669   1.000000